body{
    margin: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.app{
    width: 600px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 10px;
}
h1{
    text-align: center;
    text-shadow: 4px 2px 4px lightslategray;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type='text']{
    margin-right: 10px;
    outline: none;
    width: 400px;
    height: 25px;
    padding-left: 10px;
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 0px lightslategrey; 
    transition: all 0.4s ease-in-out;
}
input[type='text']:hover{
    box-shadow: 0px 0px 13px 0px lightslategrey;    
}
#addTodo{
    height: 29px;
    width: 100px;
    border: 0px;
    border-radius: 4px;
    text-shadow: 2px 1px 4px lightslategray;
    box-shadow: 0px 0px 6px 0px lightslategrey;
    transition: all 0.5s ease-in-out;
}
#addTodo:hover{
    box-shadow: 0px 0px 15px 0px lightslategrey;
}
#display{
    height: 70%;
}

#display-list{
    padding: 0px;
    list-style-type: none;
    border-radius: 5px;
    height: 100%;
    overflow: auto;
}
#display-list::-webkit-scrollbar{
    display: none;
}
input[type='checkbox']{
    margin-top: 19px !important;
    text-shadow: 4px 2px 4px lightslategray;
    transition: all 0.5s ease-in-out;
}
.label-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    border-radius: 5px;
    border-left: 3px solid lightgreen;
    height: 40px;
    background-color: #90ee904a;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 14px;
    box-shadow: 0px 0px 10px 0px lightslategray;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}
.icon-shadow{
    color: red;
    text-shadow: 4px 2px 4px lightcoral;
    transition: all 0.4s ease-in-out;
}
.icon-shadow:hover{
    text-shadow: 4px 6px 4px lightcoral;
}
.label-class:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 19px 0px lightslategray;
}
.list-item{
    display: flex;
    align-items: center;
    width: 100%;

}
.strikethrough{
    text-decoration: line-through;
}
